/* font-family: 'Comic Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Mr Bedfort', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #101820FF;
}
body{
  background-color: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
}

hr{
  margin: 10px 0;
}
.container{
  height: fit-content;
}
.logo img{
  width:70px;
  position: absolute;
  left:20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 2px 0 2px;
  width: 100%;
}
p{
  font-size: 1rem;
  color: #101820FF;

}
.logo{
  display: flex;
  align-items: center;
}

.logo p{
  font-size: 1rem;
}
.navbar{
  overflow: hidden;
}

.navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #101820FF;
  font-weight: 400;
}
.navbar .icon {
  display: none;
  border-radius: 4px;
}
.navbar a:hover{
  background-color: #101820FF;
  color: #FCF6F5FF;
  border-radius: 4px;
}

main{
  height: fit-content;
  position: relative;
  display: flex;
}
main img{
  width: 70%;
  height: 50%;
}

.container-slide{
  display: none;
}

main div{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  /* background-color: #FAF9F6; */
  width: fit-content;
  padding: 30px;
}

main h1{
  font-size: 4rem;
  color: #101820FF;
  font-weight: 500;
  margin-bottom: 20px;
}

main p{
  font-size: 1rem;
  color: #101820FF;
}
/* #bible-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
  width: 100%;
} */

object{
  width: 70%;
  height: 100%;
}
.first-section{
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}

.myContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(235, 232, 224);
  height: 500px;
  padding: 20px;
  text-align: center;
}
section img{
  width: 85%;
}
.myContent h2{
  font-size: 3rem;
  color: #101820FF;
  font-weight: 500;
}

.myContent .subtitle{
  font-size: 1.6rem;
  margin: 40px 0;
  font-weight: 400;
}

.myContent button{
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  background-color: #101820FF;
  color: white;
  border: none;
  font-size: 1.25rem;
}

.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(235, 232, 224);
  padding: 20px;
  min-height: fit-content;
  margin-bottom: 40px;
}
.ay-ideals{
  align-self: center;
  margin-bottom: 10px;
}
.ay-ideals h2{
  color: rgb(75, 82, 90);
}
.second-section-content{
  display: flex;
}
.ideals-description, .more-description{
  margin: 20px;
  padding: 20px;
}

.more-description li{
  color: #101820FF;
  padding: 10px;
}
.ideals-description{
    background-color: #101820FF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.ideals-description li{
  font-weight: 500;
  margin: 10px 0;
  text-align: justify;
  font-size: 18px;
  color:rgb(235, 232, 224);
}

.ideals-description p{
  color:rgb(235, 232, 224);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-header {
  text-align:center;
  padding: 1em;
}

.event-header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.event-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.14);
  margin-bottom: 1em;
}

.event-desc {
  text-align: center;
}

.event-date {
  text-align:center;
  border-right: 1px dashed #ccc;
  margin-bottom: 1em;
}

.event-date h1 {
  font-size: 6em;
  margin: 0 auto;
  font-weight: 900;

}

.event-date span {
  font-size: 18px;
}

.carousel-control-next, .carousel-control-prev {
    top: 30px;
    width: 30px;
    opacity: 1;
    background: #111;
    height: 30px;
    border-radius: 5px;
}

.third-section{
  display: flex;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0 100px;
}

.studyLessons{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.studyLessons li{
  list-style-type: square;
  padding: 3px;
}
.studyLessons div{
  padding: 15px 30px;
  background-color: #CED8E9;
  width: 70%;
  margin: 20px;
}

.studyLessons h3{
  margin-bottom: 10px;
  text-align: center;
}
footer{
  margin-top: 40px;
  height: fit-content;
  background-position-x: ;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
  background-color: #101820FF;
}

footer h3, footer a, footer p{
  color: rgb(235, 232, 224);
}

.copyright{
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
  margin-left: 10px;
}
footer h3{
  margin: 10px 0;
  font-size: 1.6rem;
  color: rgb(235, 232, 224);
}

footer a{
  color: rgb(235, 232, 224);
  text-decoration: none;
  padding: 2px;
  font-weight: 400;
  font-size: 14px;
}

.my-footer-one{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

footer a:hover{
  text-decoration: underline;
}

footer address{
  margin-top: 10px;
  color: rgb(235, 232, 224);
  font-weight: 300;
  margin-right: 20px;
  font-size: 14px;
}

footer h4{
  color: rgb(235, 232, 224);
}

.event-header h1{
  font-size: 1.3rem;
}

.event-date h1{
  font-size: 4rem;
}
/* Styles for mobole divices */
@media only screen and (max-width: 768px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p{
    font-size: 14px;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

 header{
    /* /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
  } */
  .logo{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .ay-ideals h2{
    color: #101820FF;
  }
  .mainImg{
    display: none;
  }
  .gyd{
    display: block;
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    min-height: fit-content;
    width: 100%;
  }
  .main-page{
    background-color: #101820FF;

  }
.second-section-content,.second-section {
  background-color: white;
}

.ay-ideals h2{
  font-size: 1.4rem;
}

.more-description{
    background-color: #101820FF;
    border-radius: 5px;
  }

  .more-description li{
  color: #777;
  }
  main div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    /* background-color: yellow; */
    width: 100%;
    padding: 0;
  }
  .main-page h1{
    font-size: 2rem;
    color: #777;
  }

  .main-page p{
    color: #777;
  }
  main img{
    width: 100%;
    margin: 30px 0;
  }

  .events #desktop{
    display: none;
  }

  .events #mobile{
    display: block;
  }
  .events{
    min-height: fit-content;
  }
  .first-section{
    display: flex;
    flex-direction: column;
  }
  .studyLessons{
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  .calEvents{
    background-color: #3c373e;
  }
  table, .quiz{
    width: 100%;
  }
  table th, table td, .quiz th, .quiz td{
    padding: 8px 2px;
    font-size: 14px;
  }
  .bible-quiz-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.myOtherImage{
   flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.myOtherImage img{
  width: 100%;
}
.myOtherImageHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.myOtherImage h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 20px;
}

  .quiz th, .quiz td{
    padding: 5px 2px;
    font-size: 14px;
  }
  .first-section{
    display: none;
  }

.second-section{
  height: fit-content;
}
  .second-section-content{
    display: flex;
    flex-direction: column;
  }
  .studyLessons div{
    padding: 15px 30px;
    background-color: #CED8E9;
    width: 100%;
  }
  .third-section{
    display: flex;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0 5px;
    position: relative;
  }
  .third-section{
   min-height: fit-content;
  }
  .fourth-section{
    min-height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
  }
  .myImages{
    height: 380px;
    width: 100%;
  }
  .ideals-description{
    border-radius: 4px;
  }
}
@media screen and (max-width: 768px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 14px;
  }

  /* #bible-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-bottom: 20px;
    width: 100%;
  } */

  footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  footer a{
    font-size: 14px;
  }
  footer  h3{
  font-size: 1.1rem;
  }
  .address{
    margin: 10px 0 0 10px;
  }
  address{
    font-size: 14px;
  }
  .container-slide{
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
  /* }
  /*Keep thhe images on the window without scrolling too  the side*/
  #slider{
    overflow: hidden;
    width: 100%;
  }

  #slider figure{
    position: relative;
    width: 500%; /*beacuse we have 5 images*/
    left: 0;
    animation: 20s slider infinite;
  }

  #slider figure img{
    width: 20%;
    float: left;
  }

  @keyframes slider {
    0%{
      left: 0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%
    }
    45%{
      left: -100%
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -400%;
    }
  } */
}
