*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo img{
  width: 60px;
  position: relative;
  right: 20px;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
p{
  font-size: 1.2rem;
  color: #253c57;
  font-weight: 500;
}
.logo{
  display: flex;
  align-items: center;
}
ul{
  display: flex;
  align-items: center;
}

ul li{
  list-style-type: none;
}
ul a{
  text-decoration: none;
  padding: 18px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #253c57;
}