/* font-family: 'Comic Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Mr Bedfort', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #3e373c;
}
body{
  background-color: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
}

hr{
  margin: 10px 0;
}
.container{
  height: fit-content;
}
.logo img{
  width:70px;
  /* position: absolute;
  left:20px; */
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #253c57; */
  margin: 20px 2px;
}
p{
  font-size: 1rem;
  color: #101820FF;

}
.logo{
  display: flex;
  align-items: center;
}

.logo p{
  font-size: 1rem;
}
.navbar{
  /* background-color: #253c57; */
  overflow: hidden;
}

.navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  /* color: yellow; */
  color: #101820FF;
  font-weight: 400;
}
.navbar .icon {
  display: none;
  border-radius: 4px;
}
.navbar a:hover{
  background-color: #101820FF;
  color: #FCF6F5FF;
  border-radius: 4px;
}

main{
  height: fit-content;
  position: relative;
  display: flex;
}
main img{
  width: 70%;
  height: 50%;
}

.gyd{
  display: none;
}

main div{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  background-color: #FAF9F6;
  width: fit-content;
  padding: 30px;
}

main h1{
  font-size: 4rem;
  color: rgb(75, 82, 90);
  font-weight: 500;
  margin-bottom: 20px;
}

main p{
  font-size: 1rem;
  color: #101820FF;
}

.first-section{
  min-height: 100vh;
}

.myContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgb(235, 232, 224);
  height: 500px;
  padding: 0 20px;
  text-align: center;
}
section img{
  width: 50%;
}
.myContent h2{
  font-size: 3rem;
  color: #101820FF;
  font-weight: 500;
}

.myContent .subtitle{
  font-size: 1.6rem;
  margin: 40px 0;
  font-weight: 400;
}

.myContent button{
  width: 100%;
  padding: 20px 0;
  background-color: rgb(75, 82, 90);
  color: white;
  border: none;
  font-size: 1.25rem;
}

.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(75, 82, 90);
  padding: 20px;
  min-height: 80vh;
  margin-bottom: 40px;
}
.ay-ideals{
  align-self: center;
  margin-bottom: 10px;
}
.ay-ideals h2{
  color: #FCF6F5FF;
}
.second-section-content{
  display: flex;
}
.ideals-description, .more-description{
  margin: 20px;
  padding: 20px;
}

.more-description li{
  color:rgb(235, 232, 224);
  padding: 10px;
}
.ideals-description{
  /* background-color: yellow; */
  background-color: rgb(235, 232, 224);
}

.ideals-description li{
  font-weight: 500;
  margin: 10px 0;
  text-align: justify;
  font-size: 18px;
  color: rgb(75, 82, 90);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-header {
  text-align:center;
  padding: 1em;
}

.event-header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.event-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.14);
  margin-bottom: 1em;
}

.event-desc {
  text-align: center;
}

.event-date {
  text-align:center;
  border-right: 1px dashed #ccc;
  margin-bottom: 1em;
}

.event-date h1 {
  font-size: 6em;
  margin: 0 auto;
  font-weight: 900;

}

.event-date span {
  font-size: 18px;
}

.carousel-control-next, .carousel-control-prev {
    top: 30px;
    width: 30px;
    opacity: 1;
    background: #111;
    height: 30px;
    border-radius: 5px;
}

.third-section{
  display: flex;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0 100px;
}

.fourth-section{
  display: flex;
  min-height: 80vh;
  width: 100%;
}

.fourth{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

.fourth-section img{
  width: 500px;
  height: auto;
}
.fourth-section h3{
  font-size: 2.4rem;
  color: rgb(6, 4, 24);

}
.fourth-section p{
  color: rgb(63, 63, 9);
  margin-bottom: 10px;
  font-weight: 500;
}
.myOtherImage img{
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}
.afternoonStudy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.studyLessons{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.studyLessons li{
  list-style-type: square;
  padding: 3px;
}
#premarital{
  grid-column: 4 / 7;
  grid-row:2 / 6;
  background-color: rgb(75, 82, 90);
}

#premarital li{
  color: rgb(165, 160, 160);
}

#premarital h3{
  color: rgb(236, 232, 231);
}
.studyLessons div{
  padding: 15px 30px;
  background-color: rgb(235, 232, 224);
}

.studyLessons h3{
  margin-bottom: 10px;
  text-align: center;
}
footer{
  margin-top: 40px;
  height: fit-content;
  background-color: rgb(235, 232, 224);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
}

footer h3, footer a, footer p{
  color:rgb(75, 82, 90);
}

.copyright{
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
  margin-left: 10px;
}
footer h3{
  margin: 10px 0;
  font-size: 1.6rem;
  color:rgb(75, 82, 90);
}

footer a{
  color: rgb(75, 82, 90);
  text-decoration: none;
  padding: 2px;
  font-weight: 400;
  font-size: 14px;
}

.my-footer-one{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

footer a:hover{
  text-decoration: underline;
}

footer address{
  margin-top: 10px;
  color: rgb(75, 82, 90);
  font-weight: 300;
  margin-right: 20px;
  font-size: 14px;
}

footer h4{
  color: rgb(75, 82, 90);
}
/* Styles for mobole divices */
@media only screen and (max-width: 768px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p{
    font-size: 14px;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

 header{
    /* /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
  } */
  .logo{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .ay-ideals h2{
    color: #101820FF;
  }
  .mainImg{
    display: none;
  }
  .gyd{
    display: block;
  }
  
  main{
    display: flex;
    flex-direction: column-reverse;
    min-height: fit-content;
    width: 100%;
  }
  .main-page{
    background-color: #101820FF;
  
  }
.second-section-content,.second-section {
  background-color: white;
}

.ay-ideals h2{
  font-size: 1.4rem;
}

.more-description{
    background-color: #101820FF;
    border-radius: 5px;
  }

  .more-description li{
  color: #777;
  }
  main div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    background-color: yellow;
    width: 100%;
    padding: 0 10px;
  }
  .main-page h1{
    font-size: 2rem;
    color: #777;
  }

  .main-page p{
    color: #777;
  }
  main img{
    width: 100%;
    margin: 30px 0;
  }

  .events #desktop{
    display: none;
  }

  .events #mobile{
    display: block;
  }
  .events{
    min-height: fit-content;
  }
  .first-section{
    display: flex;
    flex-direction: column;
  }
  .studyLessons{
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  .calEvents{
    background-color: #3c373e;
  }
  table, .quiz{
    width: 100%;
  }
  table th, table td, .quiz th, .quiz td{
    padding: 8px 2px;
    font-size: 14px;
  }
  .bible-quiz-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.myOtherImage{
   flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.myOtherImage img{
  width: 100%;
}
.myOtherImageHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.myOtherImage h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 20px;
}

  .quiz th, .quiz td{
    padding: 5px 2px;
    font-size: 14px;
  }
  .first-section{
    display: none;
  }
  .second-section-content{
    display: flex;
    flex-direction: column;
  }

  .third-section{
    display: flex;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0 5px;
    position: relative;
  }
  .third-section{
   min-height: fit-content;
  }
  .fourth-section{
    min-height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
  }
  .myImages{
    height: 380px;
    width: 100%;
  }
  .ideals-description{
    border-radius: 4px;
  }
}
@media screen and (max-width: 768px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 14px;
  }

  footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  footer a{
    font-size: 14px;
  }
  footer  h3{
  font-size: 1.1rem;
  }
  .address{
    margin: 10px 0 0 10px;
  }
  address{
    font-size: 14px;
  }
}
